@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.back-color{
  background: linear-gradient(to right, #ffe3ec, #c1ebff);
}


.container {
  display: flex;
  width: 100%;
  height: 100vh;
 
}
.header-icon{
  width: 22px;
  height: 22px;
}
.sidebar {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #777777;
  padding-top: 118px;
  height: 100vh;
  position: fixed
}

.logo {
  display: flex;
  font-size: 48px;
  font-weight: 400;
  font-family: "League Script", cursive;
  background: linear-gradient(to right, #FF0000, #3300FF);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0 15px;
  -webkit-text-fill-color: transparent;
  font-style: normal;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 172px;
  flex: 1; 
  
}

.menu a {
  font-size: 12px;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px
}

.menu a:hover {
  color: #ff5fa2;
}


.content {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}


